<%= form_for(@match, :url=>{:action=> 'savematch', :id=>@match.id}, :method=>'post') do |f| %>
    <div class="col-xs-12 col-sm-6 col-md-6">
       <%=f.hidden_field(:id)%>
        <div class="form-group">
            <label>Competition</label>
            <%= f.select(:CompetitionId, Competition.all.map {|c| [c.Name, c.id]},{},{ :class => 'form-control'}) %>
        </div>
        <div class="form-group">
            <label>Home Team</label>
            <%= f.select(:HomeTeamId, Team.all.map{|t| [t.Name, t.id]}, {}, {:class=>'form-control'} )%>
        </div>
        <div class="form-group">
            <label>Away Team</label>
            <%= f.select(:AwayTeamId, Team.all.map {|t| [t.Name, t.id]}, {}, {:class=>'form-control'}) %>
        </div>
         <div class="form-group">
            <label>Video Title</label>
            <%= f.text_field(:VideoTitle, :class => 'form-control')%>
        </div>
        
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="form-group">
            <label>Score</label>
            <%= f.text_field(:Score, :class => 'form-control')%>
        </div>
        <div class="form-group">
            <label>Cover Picture</label>
            <%=f.file_field(:CoverPicture, :class=>'form-control') %>
        </div>
        <div class="form-group">
            <label>Date Played</label>
            <div class="clearfix"></div>
            <%= f.date_select(:DatePlayed,:order=>[:day, :month, :year])%>
        </div>
        <div class="form-group">
            <label>Video Url</label>
            <%= f.text_field(:VideoUrl, :class => 'form-control')%>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary col-xs-12 col-sm-4 col-md-4 pull-right">Save</button>
        </div>
    </div>
<%end%>