 <div id="highlights-nodes">
    <% @Matches.each do |match| %>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <a href="<%=match.HomeTeam.CanonicalName + "-vs-" +match.AwayTeam.CanonicalName+ "-highlights/latest" %>">
                <div class="node">
                    <img src="<%="/Images/"+match.CoverPicture%>" wmode="transparent" alt="">
                    <div class="node-text"><%=match.HomeTeam.Name + " vs " +match.AwayTeam.Name%></div>
                </div>
            </a>
        </div>
    <% end%>
</div>
<%
url = "";
if params[:leaguename]
    url = params[:leaguename] + "-highlights/"
end
if params[:page]
    url+="?page="+ (params[:page].to_i()+1).to_s
end
%>

<a href="<%=url%>" class="nextpage">Next Page</a>
<script>
$(function(){
    var leaguename = "<%=params[:leaguename]%>"
    var pageindex = "<%=params[:page]%>"
    if(pageindex == "")
    {
        pageindex = 1;
    }
    $(document).on('click',".nextpage",function(e){
        event.preventDefault();
        $this = this;
        $.get('',{page:pageindex})
        .done(function(data) {
            $("#highlights-nodes").append(data);
            pageindex+=1;
          });
    });
});
</script>
